apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-classifier
  labels:
    app: cats-dogs-classifier
spec:
  type: LoadBalancer
  selector:
    app: cats-dogs-classifier
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
